absl_py==1.0.0+computecanada
asttokens==2.2.1
astunparse==1.6.3+computecanada
backcall==0.2.0+computecanada
cachetools==5.2.1
certifi==2022.12.7
charset_normalizer==2.1.1+computecanada
comm==0.1.2
connectomics==0.0.1.dev3
cycler==0.11.0+computecanada
dataclasses-json==0.5.7
debugpy==1.6.5
decorator==5.1.1+computecanada
dill==0.3.6+computecanada
distro==1.7.0
entrypoints==0.4+computecanada
executing==1.2.0
flatbuffers==2.0+computecanada
fonttools==4.33.3+computecanada
gast==0.4.0+computecanada
google-pasta==0.2.0+computecanada
google_auth==2.15.0+computecanada
google_auth_oauthlib==0.4.6+computecanada
grpcio==1.47.0+computecanada
h5py==3.7.0+computecanada
idna==3.4+computecanada
imagecodecs==2022.8.8+computecanada
imageio==2.19.3
importlib-metadata==6.0.0
ipykernel==6.19.4
ipython==8.8.0
ipywidgets==8.0.4
jax==0.3.7+computecanada
jaxlib==0.3.7+cuda11.cudnn82.computecanada
jedi==0.18.2
jupyter_client==7.4.8
jupyter_core==5.1.2
jupyterlab-widgets==3.0.5
keras==2.11.0+computecanada
kiwisolver==1.3.2+computecanada
libclang==14.0.1+computecanada
Markdown==3.4.1+computecanada
MarkupSafe==2.1.1+computecanada
marshmallow==3.16.0
marshmallow-enum==1.5.1
matplotlib==3.5.1+computecanada
matplotlib-inline==0.1.6
multiprocess==0.70.13+computecanada
mypy-extensions==0.4.3+computecanada
nest-asyncio==1.5.6
networkx==2.8.2
numpy==1.22.2+computecanada
oauthlib==3.2.2+computecanada
opencv-python==4.1.2.30+computecanada
opt-einsum==3.3.0+computecanada
packaging==21.3+computecanada
parso==0.8.3+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==9.0.1+computecanada
platformdirs==2.6.2
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pyasn1==0.4.8+computecanada
pyasn1-modules==0.2.8+computecanada
Pygments==2.14.0
pyparsing==3.0.8+computecanada
python-dateutil==2.8.2+computecanada
PyWavelets==1.3.0+computecanada
pyzmq==23.1.0+computecanada
requests==2.28.1+computecanada
requests_oauthlib==1.3.1+computecanada
rsa==4.9+computecanada
scikit-build==0.15.0
scikit_image==0.18.2+computecanada
scipy==1.8.0+computecanada
six==1.16.0+computecanada
sofima @ git+https://github.com/google-research/sofima@2160f05b2e758b33911c0b945a2191bcf36d7002
stack-data==0.6.2
tensorboard==2.11.0+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
tensorflow==2.11.0+computecanada
tensorflow_estimator==2.11.0+computecanada
tensorflow_io_gcs_filesystem==0.26.0+computecanada
tensorstore==0.1.22+computecanada
termcolor==2.2.0
tifffile==2022.5.4
tornado==6.2
tqdm==4.64.1+computecanada
traitlets==5.8.0
typing-inspect==0.7.1
typing_extensions==4.2.0+computecanada
urllib3==1.26.13+computecanada
wcwidth==0.2.5+computecanada
Werkzeug==2.2.2+computecanada
widgetsnbextension==4.0.5
wrapt==1.13.3+computecanada
zipp==3.11.0+computecanada